html, body {
    margin: 0;
    padding: 0;
}

/* хром, сафари */
html::-webkit-scrollbar { width: 0; }

/* ie 10+ */
html { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
html { overflow: -moz-scrollbars-none; }

.container-fhd {
    background-image: url(../img/main_bg-min.webp);
    width: 100%;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat
}

.header-grid {
    display: grid;
    grid-template-columns: 1591px 329px;
    grid-template-rows: 97px;
}

.left-side {
    grid-column: 1;
    background: #1D2024;
    border: none;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(90deg, rgba(113, 114, 120, 0.5) 44%,rgba(42, 43, 49, 0.1) 79% , rgba(42, 43, 49, 1) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.left-side .logo {
    background: url(../img/logo.svg) no-repeat;
    width: 248px;
    height: 94%;
    position: absolute;
    left: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position-x: center;
    background-position-y: 19px;
}

.right-side {
    grid-column: 2;
    background: #1D2024;
    border: none;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(145deg, rgba(113, 114, 120, 0.5) 0%, rgba(42, 43, 49, 0) 100%);  
}
/* polygon grey */
.polygon {
    width: 24px;
    height: 22px;
    position: relative;
}

.polygon::after {
    content: " ";
    background-image: url(../img/greater_than_down.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 18px;
    background-color: #2A2B31;
}

.polygon, .polygon::after {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.border-grey-polygon {
    background: linear-gradient(145deg, rgba(113, 114, 120, 0.5) 0%, rgba(42, 43, 49, 0) 100%);
}
  
.border-grey-polygon::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.help-box {
    font-family: 'GoogleSansBold';
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 685px;
}

.input-border {
    background: linear-gradient(90deg, rgba(113, 114, 120, 0.5) 0%, rgba(42, 43, 49, 0) 100%);
    width: 426px!important;
    height: 49px!important;
    border-radius: 3px; 
    position: relative;
}

.help-box input {
    width: 424px;
    height: 47px;
    color: #717278;
    background: #1D2024;
    border: none;
    background-image: url(../img/search_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 398px;
    padding-top: 3px;
    padding-left: 22px;
    letter-spacing: 0.5px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.help-box input::placeholder {
    font-size: 14px;
    color: #717278;
    letter-spacing: 0.5px;
}

.help-box input:focus {
    outline: none;
}

.help-box div {
    width: 194px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.help-box div::before {
    content: "";
    width: 3px;
    height: 100%;
    background: #2A2B31;
    position: absolute;
    left: 0px; 
}

.help-box div .player-online {
    font-size: 18px;
    background: linear-gradient(90deg,#F4AC26, #FDCB0C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.help-box div p {
    color: #fff;
    margin: 0;
    font-size: 14px;
    letter-spacing: 0px;
    font-family: 'GoogleSansRegular';
}

.right-side {
    font-family: 'GoogleSansBold';
    display: flex;
    align-items: center;
}

.right-side .nick-name {
    color: #fff;
	margin: 0;
	letter-spacing: -1.3px;
}

/* polygon coin */
.right-side .coin-cc {
    font-size: 18px;
    background: linear-gradient(90deg,#F4AC26, #FDCB0C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin: 0 78px 0 0;
}

.right-side .coin-cc::before {
	content: " ";
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	background: linear-gradient(90deg, #F4AC26, #FDCB0C);
	width: 8px;
	height: 8px;
	margin: 2px 8px 2px 0;
	display: inline-block;
}


/* polygon header avatar */

.polygon-user-avatar {
	width: 57px;
	height: 49px;
	position: relative;
	margin: 0 15px;
}

.polygon-user-avatar::after {
    content: " ";
    background-image: url(../img/avatar.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 64px;
    position: absolute;
    width: 45px;
    height: 39px;
    background-color: #2A2B31;
}

.polygon-user-avatar, .polygon-user-avatar::after {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.border-yellow-polygon {
    /* background: linear-gradient(0deg,#F4AC26, #FDCB0C); */
	background-image: url(../img/header-avatar-polygon.svg);
	background-position: center;
	width: 72px;
	height: 64px;
}

.border-yellow-polygon::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}



/* grid system */

.grid-container {
  display: grid;
  grid-template-columns: 135px 1009px 379px auto;
  grid-template-rows: 1fr 486px;
  gap: 0px 0px;
  grid-template-areas:
    "navigation match-configurator user-profile match-list"
    "navigation statistics daily-reguards match-list";
}

.navigation { 
	grid-area: navigation;
	background-color: #1D2024;
	height: 983px;
	font-size: 14px;
	font-family: 'GoogleSansBold';
	text-transform: capitalize;
}


.nav-btn-container {
	height: 100px;
    border: none;
    border-bottom: 2px solid #1B1D21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.nav-btn-container a {
	text-decoration: none;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 72px;
}


.btn-play-icon {
    fill: rgba(255, 255, 255, 0.2);
}

.btn-group-icon {
    fill: rgba(255, 255, 255, 0.2);
}

.btn-rating-icon {
    fill: rgba(255, 255, 255, 0.2);
}

.btn-lider-icon {
    fill: rgba(255, 255, 255, 0.2);
}

.btn-giveaway-icon {
    fill: rgba(255, 255, 255, 0.2);
}

.btn-banlist-icon {
    fill: rgba(255, 255, 255, 0.2);
}

.btn-faq-icon {
    fill: rgba(255, 255, 255, 0.2);
}

.btn-hover-box:hover .btn-play-icon,
.btn-hover-box:hover svg,  
.btn-hover-box:hover .btn-group-icon,
.btn-hover-box:hover .btn-rating-icon,
.btn-hover-box:hover .btn-lider-icon,
.btn-hover-box:hover .btn-giveaway-icon,
.btn-hover-box:hover .btn-banlist-icon,
.btn-hover-box:hover .btn-faq-icon {
    fill: url(#paint0_linear);
    filter: drop-shadow(0px 0px 8px #F4AC26);
}

.nav-btn-container:hover>a {
    color: white;
}

.nav-btn-container:hover {
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(145deg, #F4AC26, #FDCB0C);
}

.nav-btn-container.bottom-light:hover::after {
    content: "";
    width: 34px;
    height: 2px;
    position: absolute;
    box-shadow: 0px 10px 40px 8px  #F4AC26;
    bottom: -2px;
}

.match-configurator { 
    grid-area: match-configurator;
    padding: 42px 23px 32px 42px;
    box-sizing: border-box;
    font-family: 'GoogleSansBold';
    
}

.match-configurator .conf-container {
    background: linear-gradient(180deg, rgba(29, 32, 36, 0.6) 45.22%, rgba(29, 32, 36, 0.6) 45.23%, rgba(29, 32, 36, 0) 100%);
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    border: 1px solid #2A2B31;
    border-radius: 3px;
    overflow: hidden;
}

.match-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 237px 130px;
    gap: 0px 0px;
    grid-template-areas:
      "match-option-left match-option-right"
      "match-settings match-settings"
      "match-bet match-bet";
  }

.match-grid-container .match-option-left { 
    grid-area: match-option-left;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 2px solid #2A2B31;
    width: 100%;
    height: 100%;
    display: flex;
    color: #797A7C;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.match-grid-container .match-option-left:hover {
    color: #fff;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(145deg, #F4AC26, #FDCB0C);
    overflow: hidden;
}

.match-grid-container .match-option-left:hover::after  {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: -2px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px 8px #f4ac26;
}

.match-grid-container .match-option-right {
    grid-area: match-option-right;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 2px solid #2A2B31;
    width: 100%;
    height: 100%;
    display: flex;
    color: #797A7C;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.match-grid-container .match-option-right:hover {
    color: #fff;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(145deg, #F4AC26, #FDCB0C);
    overflow: hidden;
}

.match-grid-container .match-option-right:hover::after {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: -2px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px 8px #f4ac26;
}

.match-settings { 
    grid-area: match-settings;
    height: 100%; 
}

.match-settings>h2 {
    color: #fff;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
    padding: 18px 0 0 23px;
}

.match-settings .match-settings-center-container {
    display: flex;
    height: 201px;
    align-items: center;
    justify-content: space-evenly;
}

.match-settings .match-settings-center-container .single-match {
    background-color: #1B1D21;
    border: 1px solid #2A2B31;
    border-radius: 3px;
    width: 140px;
    height: 159px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.match-settings .match-settings-center-container .single-match:hover, 
.match-settings .match-settings-center-container .pvp-match:hover ,
.match-settings .match-settings-center-container .combat-match:hover {
    background-image: url(../img/bg_fire.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid #F4AC26;
    border-radius: 3px;
}

.match-settings .match-settings-center-container .single-match:hover .user-status, 
.match-settings .match-settings-center-container .pvp-match:hover .user-status,
.match-settings .match-settings-center-container .combat-match:hover .user-status,
.match-settings .match-settings-center-container .pvp-match:hover .player-nick-name,
.match-settings .match-settings-center-container .combat-match:hover .player-nick-name {
    color: #fff;
}

.match-title {
    font-size: 14px;
    background: linear-gradient(90deg,#F4AC26, #FDCB0C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient( 
90deg
 , rgba(27, 29, 33, 1), rgba(52, 53, 59, 1),rgba(27, 29, 33, 1));
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 11px;
}

.polygon-avatar {    
    width: 69px;
    height: 63px;
    margin-top: 5px;
    position: relative;
}

.polygon-avatar img {
    width: 45px;
    height: 44px;
    position: absolute;
    top: 0;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: auto;
}

.noimage-add-player {
    width: 45px;
    height: 39px;
    position: absolute;
    top: 0;
    bottom: 3px;
    left: 1px;
    right: 0;
    margin: auto;
    color: #3C3D44;
    background-color: #2A2B31;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.divider-line::after {
    content: " ";
    background: linear-gradient(90deg, rgba(27, 29, 33, 1), rgba(52, 53, 59, 1),rgba(27, 29, 33, 1));
    width: 41px;
    height: 1px;
    position: absolute;
    top: 0;
    bottom: 2px;
    left: 63px;
    right: 0;
    margin: auto;
}

.user-status, 
.pvp-player-container,
.combat-player-container {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    text-align: center;
}

.match-settings .match-settings-center-container .pvp-match {
    background-color: #1B1D21;
    border: 1px solid #2A2B31;
    width: 219px;
    height: 160px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.match-settings .match-settings-center-container .pvp-match .pvp-player-container {
    width: 166px;
    display: flex;
    justify-content: space-between;
}

.match-settings .match-settings-center-container .combat-match {
    background-color: #1B1D21;
    border: 1px solid #2A2B31;
    width: 494px;
    height: 160px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.match-settings .match-settings-center-container .combat-player-container {
    width: 458px;
    display: flex;
    justify-content: space-between;
}

/* --------------------------------------- */
.match-bet { 
    grid-area: match-bet; 
    height: 105%;
    background: rgba(29, 32, 36, 0.6);
    mix-blend-mode: normal;
    border: none;
    border-top: 1px solid #2A2B31;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
}

.match-bet>h2 {
    color: #fff;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
    padding: 18px 0 0 23px;
}

.match-bet .bet-box {
    margin: 18px 20px;
}

.match-bet .bet-box form{
    display: flex;
    justify-content: flex-start;
}

.match-bet .bet-box form div {
    width: 79px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1D21;
    border: 1px solid #2A2B31;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin-right: 21px;
}

.match-bet .bet-box form div label {
    cursor: pointer;
}

.match-bet .bet-box form div:hover {
    border: 1px solid #F4AC26;
    border-radius: 3px;
}

.match-bet .bet-box form .form-divider {
    width: 236px;
    height: 53px;
    font-family: 'GoogleSansBold';
    position: relative;
    margin: 0 23px;
}

.match-bet .bet-box form .form-divider::before {
    content: " ";
    width: 2px;
    height: 53px;
    background:  linear-gradient(0deg, #F4AC26, #FDCB0C);
    position: absolute;
    right: -26px;
}

.match-bet .bet-box form .form-divider::after {
    content: " ";
    width: 2px;
    height: 53px;
    background:  linear-gradient(0deg, #F4AC26, #FDCB0C);
    position: absolute;
    left: -24px
}


.match-bet .bet-box form .form-divider input[type="number"] {
    width: 100%;
    background-color: #1B1D21;
    border: none;
    border-radius: 3px;
    font-family: 'GoogleSansBold';
    font-size: 12px;
    color: #fff;
    padding-left: 22px;
}

.match-bet .bet-box form .form-divider input[type="number"]:focus, 
.match-bet .bet-box form .form-divider input[type="number"]:active,
.match-bet .bet-box form .form-divider input[type="number"]:visited,
.match-bet .bet-box form .form-divider input[type="number"]:target,
.match-bet .bet-box form .form-divider input[type="number"]:focus-within,
.match-bet .bet-box form .form-divider input[type="number"]:focus-visible,
.match-bet .bet-box form .form-divider input[type="number"]:hover {
    outline: none;
    background-color: #1B1D21!important;
    border: none;
    border-radius: 3px;
}

.match-bet .bet-box form .form-divider input[type="number"]::-webkit-inner-spin-button {
    visibility: hidden;
}

.match-bet .bet-box form .form-divider input::placeholder {
    font-size: 12px;
    color: #717278;
}

.match-bet .bet-box form button {
    width: 185px;
    height: 53px;
    background: linear-gradient(0deg, #FFD128 -38.68%, #FFAE25 100%), #1B1D21;
    box-shadow: 1px 1px 20px rgba(255, 194, 38, 0.3);
    border-radius: 3px;
    border: 1px solid #2A2B31;
    font-family: 'GoogleSansBold';
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}

.match-bet .bet-box form button:focus {
    outline: none;
}

/* --------------------------------------- */
.statistics { 
	grid-area: statistics;
    padding: 6px 26px 0px 42px;
    box-sizing: border-box; 
}

.statistics .stat-container {
    background: rgba(29, 32, 36, 0.5);
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 397px;
    border: 1px solid #2A2B31;
    border-radius: 3px;
    overflow: hidden;
}

.stat-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 33px 275px 35px;
    gap: 0px 0px;
    grid-template-areas:
      "stat-option-left stat-option-left stat-option-right stat-option-right"
      "user-name win-rating rating total-coin"
      "users-table users-table users-table users-table"
      "btn-show-all btn-show-all btn-show-all btn-show-all";
      color: #fff;
      font-family: 'GoogleSansBold';
      font-size: 12px;
}

.stat-grid-container .stat-option-left { 
    grid-area: stat-option-left;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 2px solid #2A2B31;
    width: 100%;
    height: 100%;
    display: flex;
    color: #797A7C;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.stat-grid-container .stat-option-left:hover {
    color: #fff;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(145deg, #F4AC26, #FDCB0C);
    overflow: hidden;
}

.stat-grid-container .stat-option-left:hover::after  {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: -2px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px 8px #f4ac26;
}

.stat-grid-container .stat-option-right {
    grid-area: stat-option-right;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 2px solid #2A2B31;
    width: 100%;
    height: 100%;
    display: flex;
    color: #797A7C;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.stat-grid-container .stat-option-right:hover {
    color: #fff;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(145deg, #F4AC26, #FDCB0C);
    overflow: hidden;
}

.stat-grid-container .stat-option-right:hover::after {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: -2px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px 8px #f4ac26;
}

.stat-grid-container .user-name { 
    grid-area: user-name;
    font-family: 'GoogleSansRegular';
    font-size: 12px;
    justify-self: self-start;
    align-self: center;
    padding-left: 78px;
}
.stat-grid-container .win-rating { 
    grid-area: win-rating;
    font-family: 'GoogleSansRegular';
    font-size: 12px;
    justify-self: self-start;
    align-self: center;
    padding-left: 73px;
}
.stat-grid-container .rating { 
    grid-area: rating;
    font-family: 'GoogleSansRegular';
    font-size: 12px;
    align-self: center;
    padding-left: 83px;
}
.stat-grid-container .total-coin { 
    grid-area: total-coin;
    font-family: 'GoogleSansRegular';
    font-size: 12px;
    align-self: center;
    padding-left: 85px;
}

.stat-grid-container .users-table { 
    grid-area: users-table;
    color: #fff;
    overflow-y: scroll;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(
        90deg
        , rgba(27, 29, 33, 1), rgba(52, 53, 59, 1),rgba(27, 29, 33, 1)); 
}
.stat-grid-container .users-table::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

.stat-grid-container .users-table ol {
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
    counter-reset: number;
}

.stat-grid-container .users-table ol li {
    counter-increment: number;
    position: relative;
}

.stat-grid-container .users-table ol li::before {
    content: counter(number) ". ";
    position: absolute;
    top: 15px;
    left: 19px;
}

.stat-grid-container .users-table ol li:nth-child(2n) {
    background-color: rgba(42, 43, 49, 0.4);
}

.stat-grid-container .users-table ol li:last-child {
    border: none;
    border-top: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(
90deg
, rgba(27, 29, 33, 1), rgba(52, 53, 59, 1),rgba(27, 29, 33, 1));
}

.user-table-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 45px;
    gap: 0px 0px;
    align-items: center;
    justify-items: flex-start;
    grid-template-areas:
      ". . . .";
  }  

.user-table-grid-container .user-nick-name {
    grid-column: 1;
    display: flex;
    align-items: center;
    padding-left: 56px;
}

.user-table-grid-container .name {
    padding-left: 11px;
}

.user-table-polygon-avatar {    
    width: 27px;
    height: 25px;
    margin-top: 0px;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.user-table-polygon-avatar img {
    width: 31px;
    height: 46px;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: -2px;
    right: 0;
    margin: auto;
}

.user-table-grid-container .win {
    grid-column: 2;
    padding-left: 84px;
}

.user-table-grid-container .rank {
    grid-column: 3;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.user-table-grid-container .rank img {
    width: 59px;
    height: 35px;
}

.user-table-grid-container .total {
    grid-column: 4;
    padding-left: 85px;
}

.user-table-grid-container .total::before {
    content: " ";
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: linear-gradient(90deg, #F4AC26, #FDCB0C);
    width: 8px;
    height: 8px;
    margin: 2px 8px 2px 0;
    display: inline-block;
}

.btn-show-all {
    grid-area: btn-show-all;
    justify-self: center;
    align-self: center;
}

.btn-show-all a {
    color: #797A7C;
    cursor: pointer;
    text-decoration: none;
}

.stat-grid-container .btn-show-all:hover::after {
    content: "";
    width: 150px;
    height: 0px;
    position: absolute;
    left: 400px;
    bottom: 0px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px 8px #f4ac26;
}

.stat-grid-container .btn-show-all:hover a {
    color: #fff;
}
/* --------------------------------------- */

.user-profile { 
	grid-area: user-profile;
    padding: 42px 0px 32px 18px;
    box-sizing: border-box; 
}

.user-profile .user-container {
    background: rgba(29, 32, 36, 0.6);
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);
    width: 360px;
    height: 420px;
    border: 1px solid #2A2B31;
    border-radius: 3px;
    overflow: hidden;
}

.profile-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 142px 190px 38px;
    color: #fff;
    font-family: 'GoogleSansBold';
    font-size: 14px;
    grid-template-areas:
      "container-title"
      "account-status"
      "account-summary"
      "link-full-info";
}

.profile-grid-container .container-title { 
    grid-area: container-title;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 47px;
    border: none;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(
90deg
, rgba(27, 29, 33, 1), rgba(52, 53, 59, 1),rgba(27, 29, 33, 1));
}
.profile-grid-container .account-status { 
    grid-area: account-status;
    display: flex;
    align-items: center;
    padding: 0 23px;
    width: 314px;
    height: 140px;
    border: none;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(
90deg
, rgba(27, 29, 33, 1), rgba(52, 53, 59, 1),rgba(27, 29, 33, 1)); 
}

/* polygon status style */
.status-polygon-user-avatar {
	width: 57px;
	height: 49px;
	position: relative;
    filter: drop-shadow(0px 0px 3px #F4AC26);
    bottom: 3px;
}

.status-polygon-user-avatar::before {
    content: " ";
    background: linear-gradient(90deg, #F4AC26, #FDCB0C);
    position: absolute;
    width: 84px;
    height: 73px;
}

.status-polygon-user-avatar::after {
    content: " ";
    background-image: url('../img/avatar.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 99px;
    position: absolute;
    width: 77px;
    height: 67px;
}

.status-polygon-user-avatar, 
.status-polygon-user-avatar::after, 
.status-polygon-user-avatar::before {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.status-super-border-polygon {
	background-image: url('../img/avatars/user-oceanD/user-special-big-polygon.svg');
	background-position: center;
    background-repeat: no-repeat; 
	width: 110px;
	height: 110px;
    margin-right: 22px;
}

.status-super-border-polygon::after,
.status-super-border-polygon::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* -------------------------------- */
.profile-grid-container .account-status .status-box {
    height: 96px;
}

.profile-grid-container .account-status .status-box p {
    margin: 0;
    position: relative;
}

.profile-grid-container .account-status .status-box .nick-name {
    font-size: 20px;
    padding-bottom: 11px;
}
.profile-grid-container .account-status .status-box .network-status {
    font-family: 'GoogleSansRegular';
    padding-bottom: 16px;
    position: relative;
}

.profile-grid-container .account-status .status-box .network-status>span::before {
    content: " "; 
    border-radius: 50%;
    background: rgba(51, 207, 116, 0.3);
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0px 6px 0 4px;
}

.profile-grid-container .account-status .status-box .network-status>span::after {
    content: " "; 
    border-radius: 50%;
    background: rgba(51, 207, 116, 1);
    width: 6px;
    height: 6px;
    display: inline-block;
    position: absolute;
    left: 58px;
    top: 5px;
}

.profile-grid-container .account-status .status-box .account-rank {
    font-family: 'GoogleSansRegular';
}

.profile-grid-container .account-status .status-box .account-rank .rank-box {
    background-color: #2A2B31;
    width: 138px;
    height: 30px;
    position: absolute;
    left: 43px;
    top: -6px;
    clip-path: polygon(6% 0%, 94% 0%, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
}

.profile-grid-container .account-status .status-box .account-rank .rank-box::before {
    content: " ";
    background-color: #1B1D21;
    width: 136px;
    height: 28px;
    position: absolute;
    clip-path: polygon(6% 0%, 94% 0%, 100% 50%, 94% 100%, 6% 100%, 0% 50%);
    top: 1px;
    left: 1px;
}

.profile-grid-container .account-status .status-box .account-rank .rank-box .rank-icon {
    position: absolute;
    z-index: 4;
    width: 54px;
    height: 32px;
    left: 9px;
}

.profile-grid-container .account-status .status-box .account-rank .rank-box span:not(.rank-icon) {
    position: absolute;
    z-index: 4;
    right: 12px;
    top: 7px;
    font-size: 12px;
    letter-spacing: 0.3px;
}


.profile-grid-container .account-summary { 
    grid-area: account-summary;
    width: 312px;
    height: 187px;
    padding: 0 24px;
    border: none;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(
90deg
, rgba(27, 29, 33, 1), rgba(52, 53, 59, 1),rgba(27, 29, 33, 1));
}

.profile-grid-container .account-summary h2 {
    font-size: 14px
}

.profile-grid-container .account-summary .progress-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-grid-container .account-summary .progress-bar .progress-indicate {
    border: 1px solid #2A2B31;
    border-radius: 3px;
    width: 265px;
    height: 6px;
    background-color: #1B1D21;
}

.profile-grid-container .account-summary .progress-bar .progress-indicate::before {
    content: "";
    border: none;
    border-radius: 3px;
    width: 51%;
    height: 6px;
    background: linear-gradient(90deg,#F4AC26, #FDCB0C);
    position: absolute;
}


.profile-grid-container .account-summary .summary-table {
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
}

.profile-grid-container .account-summary .summary-table div {
    width: 144px;
}

.profile-grid-container .account-summary .summary-table div p {
    color: rgba(255, 255, 255, 0.57);
    font-family: 'GoogleSansRegular';
    display: flex;
    justify-content: space-between; 
}

.profile-grid-container .account-summary .summary-table div p span {
    font-family: 'GoogleSansBold';
    color: #fff;
}

.profile-grid-container .link-full-info { 
    grid-area: link-full-info;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.profile-grid-container .link-full-info:hover::after {
    content: "";
    width: 90px;
    height: 0px;
    position: absolute;
    left: 130px;
    bottom: 0px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px 8px #f4ac26;
}

.link-full-info a {
    text-decoration: none;
    color: #797A7C;
    font-size: 12px;
}

.profile-grid-container .link-full-info:hover a {
    color: #fff;
}


/* ---------------------------------- */

.daily-reguards { 
	grid-area: daily-reguards; 
    padding: 6px 0px 0px 18px;
    box-sizing: border-box; 
}

.daily-reguards .reguards-container {
    background: rgba(29, 32, 36, 0.6);
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 397px;
    border: 1px solid #2A2B31;
    border-radius: 3px;
}


.reguards-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 345px;
    color: #fff;
    font-family: 'GoogleSansBold';
    grid-template-areas:
      "container-title"
      "reguards-content";
}

.reguards-grid-container .container-title { 
    grid-area: container-title;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(
90deg
, rgba(27, 29, 33, 1), rgba(52, 53, 59, 1),rgba(27, 29, 33, 1));
}

.reguards-grid-container .reguards-content { 
    grid-area: reguards-content;
    background: url(../img/daily-reguards_bg-min.png);
    text-align: center;
    cursor: pointer; 
}

.reguards-grid-container .reguards-content .timer-title {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'GoogleSansRegular';
    padding-top: 16px;
    font-size: 14px;
}

.reguards-grid-container .reguards-content .countdown-timer {
    font-size: 28px;
    padding-top: 6px;
    letter-spacing: 1.5px;
}

.reguards-grid-container .reguards-content .reguards-preview {
    width: 100%;
    height: 197px;
    background-position: center;
    background-repeat: no-repeat;
}

.reguards-container .reguards-content .reguards-name {
    color: #EB5757;
    font-size: 18px;
    letter-spacing: 1px;
}

.reguards-container .reguards-content .reguards-price {
    color: #fff;
    padding-top: 9px;
    font-size: 14px;
    font-family: 'GoogleSansRegular';
}

.reguards-container .reguards-content .reguards-price span {
    color: #FFC126;
    font-family: 'GoogleSansBold';
}



/* --------------------------- */
.match-list { 
	grid-area: match-list;
    justify-self: end;
    padding: 42px 14px 0 0px;
    box-sizing: border-box;  
} 

.match-list .m-list-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 337px;
    height: 926px;
    overflow-y: scroll;
    position: relative;
    direction: rtl; 
}

/* width */
.match-list .m-list-container ul::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .match-list .m-list-container ul::-webkit-scrollbar-track {
    background: #2E2F35;
    width: 3px;
  }
  
  /* Handle */
  .match-list .m-list-container ul::-webkit-scrollbar-thumb {
    background: #F4AC26;
    position: absolute;
    left: 0;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  .match-list .m-list-container ul::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }

.match-list .m-list-container ul li {
    display: flex;
    direction: ltr;
    margin-left: 18px;
    color: #fff;
    position: relative;
    font-family: 'GoogleSansBold';
    justify-content: center;
    height: 128px;
    box-sizing: border-box;
    margin-bottom: 15px;
    overflow: hidden;
}

.match-list .m-list-container ul li:hover {
    border: 1px solid #f4ac26!important;
}

.match-list .m-list-container ul li:hover::before {
    content: " ";
    background: url(../img/match_list_overlay_active-min.png)!important;
    width: 100%;
}

.match-list .m-list-container ul li span {
    color: rgba(255, 255, 255, 0.23);
    font-size: 16px;
    position: absolute;
    top: 38px;
}

.match-list .m-list-container ul li .match-count {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 57px;
}

.match-list .m-list-container ul li .user-info p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.match-list .m-list-container ul li .user-info .coin-cc {
    color: #F9BE16;
    font-size: 12px;
}

.match-list .m-list-container ul li .player-left {
    position: absolute;
    left: 0px;
    top: 7px;
    width: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.match-list .m-list-container ul li .player-right {
    position: absolute;
    right: 0px;
    top: 7px;
    width: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-list .m-list-container .match-map[data-map-name="dust2"] {
    background: url('../img/match_list_dust2-min.png');
    background-position: right;
    background-repeat: no-repeat;
    background-color: #24272B;
    border: 1px solid #2A2B31;
    border-radius: 3px;
}

.match-list .m-list-container .match-map[data-map-name="itally"] {
    background: url('../img/match_list_itally-min.png');
    background-position: right;
    background-repeat: no-repeat;
    background-color: #24272B;
    border: 1px solid #2A2B31;
    border-radius: 3px;
}


